@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@1,300&display=swap');


body {
  font-family: "Poppins", serif;
  background-color: #5D8736;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 32px;
}

.subtitulo {
  color: white;
  font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 180px;
  height: 100px;
  background: #809D3C;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.tarjeta-de-mokepon img {
  width: 80px;
}

#boton-mascota {
	width: 180px;
	height: 40px;
	border-radius: 20px;
	background: transparent;
	border: 2px solid white;
	color: white;
	font-family: 'Fredoka One', cursive;
	margin-top: 30px;
}

input {
  display: none;
}

input:checked + label {
  background-color: #A9C46C;
}

#seleccionar-ataque {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-ataque {
    background: #809D3C;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    color: white;
    font-family: 'Fredoka One', cursive;
}

#mensajes {
  width: 260px;
  background: #F4FFC3;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

#boton-reiniciar {
  border: none;
  color: #809D3C;
  font-family: 'Fredoka One', cursive;
}

.ataques {
  display: grid;
  grid-template-columns: 150px 150px;
}

#vidas-jugador, #vidas-enemigo {
  font-size: 30px;
  margin-bottom: 20px;
}
.ataques-jugador, .ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ver-mapa {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ver-mapa button {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Fredoka One', cursive;
  margin: 10px 0;
}

@media (max-width: 574px) {
  .tarjetas, .tarjetas-ataques {
    flex-direction: column;
  }
}

@media (max-width: 300px) {
  #ver-mapa div {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
}